In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("updated_car1.xlsx")

In [3]:
df

,Year,Make/Model,Male,Female,Unknown,Total,Male.1,Female.1,Unknown.1,Highway,Displacement,Tiresize,Wheelbase,GroundClearance,Cargo,Weight
0,2013,FORD FOCUS,814172,422731,56487,1293390,0.629487,0.326840,0.043674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,FORD FIESTA,554879,631666,54057,1240602,0.447266,0.509161,0.043573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,VAUXHALL CORSA,458979,562466,47108,1068553,0.429533,0.526381,0.044086,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,VAUXHALL ASTRA,600677,322244,40792,963713,0.623294,0.334378,0.042328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,VOLKSWAGEN GOLF,483216,310604,47563,841383,0.574312,0.369159,0.056530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34629,1994,VOLKSWAGEN TL,0,1,0,1,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34630,1994,VOLVO C70,1,0,0,1,1.000000,0.000000,0.000000,44.4 mpg US (5.3 L/100Km),1560 cm3,205/55 R16,103.9 in (2639 mm),5.3 in (135 mm),14.3 cuFT (405 L),2852.8 lbs (1294 kg)
34631,1994,VOLVO S40,1,0,0,1,1.000000,0.000000,0.000000,48 mpg US (4.9 L/100Km),1834 cm3,195/55 HR15,100.39 in (2550 mm),4.9 in (124 mm),13.8 cuFT (391 L),2844 lbs (1290 kg)
34632,1994,W+E Model Missing,1,0,0,1,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34633,1994,WHITLOCK BROS Model Missing,1,0,0,1,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df

,Year,Make/Model,Male,Female,Unknown,Total,Male.1,Female.1,Unknown.1,Highway,Displacement,Tiresize,Wheelbase,GroundClearance,Cargo,Weight
0,2013,FORD FOCUS,814172,422731,56487,1293390,0.629487,0.326840,0.043674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,FORD FIESTA,554879,631666,54057,1240602,0.447266,0.509161,0.043573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,VAUXHALL CORSA,458979,562466,47108,1068553,0.429533,0.526381,0.044086,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,VAUXHALL ASTRA,600677,322244,40792,963713,0.623294,0.334378,0.042328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,VOLKSWAGEN GOLF,483216,310604,47563,841383,0.574312,0.369159,0.056530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34629,1994,VOLKSWAGEN TL,0,1,0,1,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34630,1994,VOLVO C70,1,0,0,1,1.000000,0.000000,0.000000,44.4 mpg US (5.3 L/100Km),1560 cm3,205/55 R16,103.9 in (2639 mm),5.3 in (135 mm),14.3 cuFT (405 L),2852.8 lbs (1294 kg)
34631,1994,VOLVO S40,1,0,0,1,1.000000,0.000000,0.000000,48 mpg US (4.9 L/100Km),1834 cm3,195/55 HR15,100.39 in (2550 mm),4.9 in (124 mm),13.8 cuFT (391 L),2844 lbs (1290 kg)
34632,1994,W+E Model Missing,1,0,0,1,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34633,1994,WHITLOCK BROS Model Missing,1,0,0,1,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dropna(inplace=True)

In [7]:
df

,Year,Make/Model,Male,Female,Unknown,Total,Male.1,Female.1,Unknown.1,Highway,Displacement,Tiresize,Wheelbase,GroundClearance,Cargo,Weight
20,2013,AUDI A4,202037,59936,13629,275602,0.733075,0.217473,0.049452,67.2 mpg US (3.5 L/100Km),1968 cm3,225/55 R 16,111 in (2819 mm),7.1 in (180 mm),17 cuFT (481 L),3318 lbs (1505 kg)
23,2013,AUDI A3,144962,97033,14460,256455,0.565253,0.378363,0.056384,49 mpg US (4.8 L/100Km),1395 cm3,205/55 R 16,102.4 in (2601 mm),4.3 in (109 mm),12.9 cuFT (365 L),2800 lbs (1270 kg)
30,2013,CITROEN C3,78551,98254,9893,186698,0.420738,0.526272,0.052989,51.1 mpg US (4.6 L/100Km),1398 cm3,185/65R15,97.1 in (2466 mm),5.4 in (137 mm),10.6 cuFT (300 L),2458 lbs (1115 kg)
42,2013,FIAT 500,30349,102113,8177,140639,0.215794,0.726065,0.058142,36.2 mpg US (6.5 L/100Km),1368 cm3,195/45 R16,90.6 in (2301 mm),4.1 in (104 mm),14.5 cuFT (411 L),2304 lbs (1045 kg)
45,2013,CITROEN C4,79604,42130,5547,127281,0.625419,0.331000,0.043581,42 mpg US (5.6 L/100Km),1560 cm3,205/55 R16,102.2 in (2596 mm),5.6 in (142 mm),12.6 cuFT (357 L),2819.7 lbs (1279 kg)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34288,1994,VOLVO 142,7,3,2,12,0.583333,0.250000,0.166667,20.3 mpg US (11.6 L/100Km),1986 cm3,165 SR 15,103.1 in (2619 mm),7.1 in (180 mm),21.5 cuFT (609 L),2535 lbs (1150 kg)
34339,1994,BMW M1,5,1,1,7,0.714286,0.142857,0.142857,32.2 mpg US (7.3 L/100Km),4999 cm3,Front: 255/40 ZR19 - Rear: 285/35 ZR19,112.2 in (2850 mm),8 in (203 mm),17.8 cuFT (504 L),4199.8 lbs (1905 kg)
34511,1994,AUDI A4,1,0,0,1,1.000000,0.000000,0.000000,67.2 mpg US (3.5 L/100Km),1968 cm3,225/55 R 16,111 in (2819 mm),7.1 in (180 mm),17 cuFT (481 L),3318 lbs (1505 kg)
34630,1994,VOLVO C70,1,0,0,1,1.000000,0.000000,0.000000,44.4 mpg US (5.3 L/100Km),1560 cm3,205/55 R16,103.9 in (2639 mm),5.3 in (135 mm),14.3 cuFT (405 L),2852.8 lbs (1294 kg)
34631,1994,VOLVO S40,1,0,0,1,1.000000,0.000000,0.000000,48 mpg US (4.9 L/100Km),1834 cm3,195/55 HR15,100.39 in (2550 mm),4.9 in (124 mm),13.8 cuFT (391 L),2844 lbs (1290 kg)